build/
*.o
*.so
*.a
semantics-av
*.log
config/semantics-av.conf
.vscode/
.idea/
*.swp
*.tmp
_deps/
.git/
.github/
.gitignore
*.md
docs/
scripts/post_install*.sh
scripts/uninstall.sh
systemd/
docker/api-key.txt
docker/*.txt